{% extends "backend/base.html" %}

{% block content %}

<h1>Todo Example</h1>

<hr>

<h2>Add todo</h2>

<form method="post" action="{% url 'todo_create' %}"> {% comment %} with function based views todo_list {% endcomment %}
{% csrf_token %}

<label>Description</label>
<br><input type="text" name="description"></br>

<button>Submit</button>
</form>

<hr>

<h2>Todos</h2>

<ul>
{% for todo in object_list  %}
<li>
<a href="{% url 'todo_detail' todo.id %}">
{{ todo.description }}
</a>
</li>

{% endfor %}

{% endblock  %}